.rect {
  height: 100px;
  width: 200px;
  border-style: solid;
  border-color: black
}

.btn {
  height: 40px;
  width: 80px;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
}

input[type="text"] {
  height: 20px;
  width: 70px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}
