.App {
  display: grid;
  grid-template-columns: 300px 300px 300px;
}

.rect, .textRect {
  height: 100px;
  width: 200px;
  border-style: solid;
  border-color: black
}

.rect {
  grid-row: 2;
}

.container {
  grid-row: 3;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  margin: 10px
}

.textRect {
  grid-row: 1;
}

.btn {
  height: 40px;
  width: 80px;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
  display: inline-block;
  margin: 5px 5px
}

input[type="text"] {
  height: 20px;
  width: 70px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  float: right;
  margin: 20% 30%
}
